<div class="md:container md:mx-auto flex flex-col md:flex-row md:items-start md:justify-between">
  <div class="mockup-phone mt-3">
    <div class="camera"></div>
    <div class="display">
      <div class="artboard artboard-demo phone-1">
        <div class="container mx-auto px-4 ">
          <div class="mockup-browser border border-base-300">
            <div class="mockup-browser-toolbar">
              <div class="input border border-base-300">https://Hotels.com</div>
            </div>
            <div class="flex justify-center px-4 py-16 border-t  border-base-300">
              <div class="card w-96 bg-base-100 shadow-xl -mt-8">
                <figure><img src="assets/Rest.jpg" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title">Taj Mahal Restaurant</h2>
                  <p><b>Rating:</b>4.5
                  </p>
                  <p><b>Address:</b>Park Street Area, Kolkata,West Bengal</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-warning">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:ml-8 mt-8 md:mt-0 flex flex-col items-center md:items-start"> <!-- Adjust margin as needed -->
    <h1 class="text-5xl">Get ALL Restaurants Api:</h1>
    <br>
    <div>
      <img src="assets/ApiRest.jpg" alt="rest"/>
    </div>
    <br>
    <div class="mockup-code sm-1" (click)="copyToClipboard()">
      <pre><code>{{ apiUrl }}</code></pre>
    </div>


  </div>
</div>








