<label for="my-drawer-2" class="btn btn-sm drawer-button lg:hidden">Menu</label>

<div class="drawer lg:drawer-open ">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <h1 class="text-7xl font-serif ... m-8">Hi Learns!</h1>
    <div class="carousel rounded-box m-2">
      <div class="carousel-item">
        <img src="assets/vegie.jpg" alt="vegetable" />
      </div>
      <div class="carousel-item">
        <img src="assets/resize-1713123402476531468Rest.jpg" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="assets/panner.jpg" alt="panner" />
      </div>
      <div class="carousel-item">
        <img src="assets/resize-1713123917156370379GetMenu.jpg" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" alt="Burger" />
      </div>
    </div>
    
    <br>
    <h2 class="text-4xl font-serif ... m-8 ">In this.... </h2>
    <ul class="mt-4 md:mt-0 m-8">
      <li><b>Easy Integration:</b> Our API is designed for simplicity and ease of integration into any web or mobile application. With just a few lines of code, you can start fetching food menu data.</li>
      <li><b>Comprehensive Coverage:</b>We're continuously expanding our database to include menus from a wide range of eateries, ensuring that you have access to a diverse selection of food options.</li>
      <li><b>Free of Charge:</b>As part of our commitment to supporting students, The Get All Restaurants API is completely free to use. There are no subscription fees or hidden costs - just access to delicious food menus at your fingertips.</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li (click)="Navigate('Get_Menu')"><a>Get Menu</a></li>
      <li (click)="Navigate('Get_All_Restaurants')" ><a>Get All Restaurants</a></li>
      <li (click)="Navigate('Get_All_Food_Products')" ><a>Get All FoodProducts</a></li>
      <li (click)="Navigate('Get_a_single_Restaurant')" ><a>Get a single Restaurant</a></li>
      <li (click)="Navigate('Get_all_FoodProducts_of_Category')" ><a>Get all FoodProducts of Category</a></li>
      <li (click)="Navigate('Search_Food_Products')" ><a>Search Food Products </a></li>
      <li (click)="Navigate('Add_a_FoodProduct')" ><a>Add a FoodProduct</a></li>
      <li (click)="Navigate('Update_a_FoodProduct')" ><a>Update a FoodProduct</a></li>
      <li (click)="Navigate('Delete_a_FoodProduct')" ><a>Delete a FoodProduct</a></li>
    </ul>

  </div>
</div>
