<label for="my-drawer-2" class="btn btn-sm drawer-button lg:hidden">Menu</label>

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <!-- Page content here -->


  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li><a>Get all student name</a></li>
      <li><a>Get Class time-table </a></li>
      <li><a>Get single student name</a></li>
      <li><a>Search student</a></li>
      <li><a>Search course</a></li>
      <li><a>Update student name</a></li>
      <li><a>Delete student name</a></li>
    </ul>

  </div>
</div>
