<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!--First car for E-commerce-->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/Ecommerce.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
             E-commerce
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Api for E-commerce projects like-Mobile, Electronics,Fashion,Toys etc</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Click Here</div>

            </div>
        </div>
    </div>

    <!-- Second Card for University Portal Details-->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/University.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
              University Data
                <div class="badge badge-secondary">New</div>
            </h2>
            <p>Api for University projects-like Student,faculty,Department etc.</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Click Here</div>

            </div>
        </div>
    </div>
    <!-- Third Card for food delivery data -->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/Food.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                Food Data
                <div class="badge badge-secondary">New</div>
            </h2>
            <p>Api for Food Delivery app like- Cuisine,Order food etc </p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Click Here</div>
            </div>
        </div>
    </div>
    <!--Fourth card to be continued -->

</div>
