<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!--First car for E-commerce-->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/Ecommerce.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
             E-commerce 
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
            </div>
        </div>
    </div>

    <!-- Second Card for University Portal Details-->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/University.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
              University Data
                <div class="badge badge-secondary">New</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
            </div>
        </div>
    </div>
    <!-- Third Card -->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="assets/Food.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                Food Data
                <div class="badge badge-secondary">New</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
            </div>
        </div>
    </div>
    <!--Fourth card -->
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div> 
                <div class="badge badge-outline">Products</div>
            </div>
        </div>
    </div>
</div>
